  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Tiint</a>
      </div>
      
      <ul class="nav navbar-nav">
        <li routerLinkActive = 'active'><a routerLink="/home">Home</a></li>
        <li routerLinkActive = 'active'><a routerLink="/customers">Customers</a></li>
        <li routerLinkActive = 'active'><a  routerLink="about">About Us</a></li>
        <li routerLinkActive = 'active'><a  routerLink="/books">Books</a></li>
      </ul>
    </div>
  </nav>