<h1>Book List
       
  <button class="btn btn-success btn-circle pull-right" 
          (click) = 'add()'
          title="Add Customer">
    <i class="glyphicon glyphicon-plus"></i>
  </button>
</h1>

<div class="alert-danger">{{errorMessage}}</div>

<div class="input-group">
    <input type="text" class="form-control" 
            placeholder="Search"    
            [(ngModel)]="searchText"
            aria-describedby="basic-addon1">
    <span class="input-group-addon" id="basic-addon1">Search</span>
</div> 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Cate</th>
            <th>Publisher</th>
            <th>Author</th>
            <th>Summary</th>
            <th>ImgUrl</th>
            <th>IsActive</th>
           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of book | search: searchText"
            [ngClass]="{'btn-primary': b.id == currentId }">
            <td>{{b.BookID}}</td>
            <td>{{b.Title}}</td>
            <td>{{b.CateID}}</td>
            <td>{{b.PubID}}</td>
            <td>{{b.AuthorID}}</td>
            <td>{{b.Summary}}</td>
            <td>{{b.ImgUrl}}</td>
            <td>{{b.IsActive}}</td>
           
            <td style="width: 70px;">
                <i class="glyphicon glyphicon-edit pointer" (click)="edit(b.BookID)" title="Edit"></i>
                <i class="glyphicon glyphicon-trash pointer" (click)="delete(b.BookID)"  title="Delete"></i>
                <i  data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-user pointer" title="Image"></i>
            </td>
        </tr>
    </tbody>
</table>
