<h1>{{title}} Customer</h1>
<hr>
<div>{{errorMessage}}</div>
<form [formGroup]="bookForm" (ngSubmit)="save()" novalidate>
    <div class="form-group row">
        <label for="" class="col-md-12">Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="name.invalid && (name.dirty || submitted)">
                <div *ngIf="name.errors.required">
                    Name is required
                </div>
                <div *ngIf="name.errors.minlength">
                    Min. 3 charaters
                </div>
                <div *ngIf="name.errors.maxlength">
                    Must not exceed 30 charaters
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">Address</label>
        <div class="col-md-4">
            <input type="text" class="form-control" formControlName="address">
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="address.invalid && (address.dirty || submitted)">
                <div *ngIf="address.errors.required">
                    Address is required
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">Phone#</label>
        <div class="col-md-4">
            <input type="text" class="form-control" formControlName="phone">
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="phone.invalid && (phone.dirty || submitted)">
                <div *ngIf="phone.errors.pattern">
                    Invalid phone number!
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Tên Sách</label>
            <input type="text" class="form-control" placeholder="Title" name="Title" formControlName="Title">
            <div class="error" *ngIf="Title.invalid && (Title.dirty || submitted) ">
                <div *ngIf="Title.errors.required">Vui lòng nhập đầy đủ thông tin !</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Số Lượng</label>
            <input type="number" class="form-control" placeholder="Quantity" name="Quantity" formControlName="Quantity">
            <div class="error" *ngIf="Quantity.invalid && (Quantity.dirty || submitted) ">
                <div *ngIf="Quantity.errors.required">Vui lòng nhập đầy đủ thông tin !</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Summary</label>
            <textarea type="text" class="form-control" placeholder="Summary" name="Summary" formControlName="Summary"> </textarea>
            <div class="error" *ngIf="Summary.invalid && (Summary.dirty || submitted) ">
                <div *ngIf="Summary.errors.required">Vui lòng nhập đầy đủ thông tin !</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Giá</label>
            <input type="number" class="form-control" placeholder="Price" name="Price" formControlName="Price">
            <div class="error" *ngIf="Price.invalid && (Price.dirty || submitted) ">
                <div *ngIf="Price.errors.required">Vui lòng nhập đầy đủ thông tin !</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Tác Giả</label>
            <select class="form-control" style="height:60%;padding: 0%;" name="AuthorId" [(ngModel)]="book.AuthorId">
                <option *ngFor="let item of authorService.AuthorList" [value]="item.AuthorId">{{item.AuthorName}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Phân Loại</label>
            <select class="form-control" style="height:60%;padding: 0%;" name="CateId" [(ngModel)]="book.CateId">
                <option *ngFor="let item of cate" [value]="item.CateId">{{item.CateName}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputZip">Nhà Xuất Bản</label>
            <select class="form-control" style="height:60%;padding: 0%;" name="PubId" [(ngModel)]="book.PubId">
                <option value="2">2</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label>Hình</label>
            <input type="text" class="form-control" placeholder="ImgUrl" name="ImgUrl" [(ngModel)]="book.ImgUrl">
        </div>
        <div class="form-group col-md-4">
            <label>Trạng Thái</label>
            <select class="form-control" style="height:60%;padding: 0%;" name="IsActive" [(ngModel)]="book.IsActive">
                <option value="true">1</option>
                <option value="false">0</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="Save" />
            <input type="button" class="btn btn-warning" value="Cancel" (click)="cancel()">
        </div>

    </div>
</form>